.primary {
  padding: 15px 0px;
  font-size: 20px;
  border-radius: 4px;
  background: #FFB800;
  cursor: pointer;
  text-decoration: none;
  display: block;
  width: 100%;
  box-shadow: 0px 4px 0px #DEA718;
  position: relative;
}

.primary:hover {
  top: 3px;
  box-shadow: 0px 0px 0px;
}

.primary:visited {
  color: black;
  text-decoration: none;
}

.buttonWrapper {
  margin-top: 15px;
  margin-bottom: 15px;
}